@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
    background: #2f3a6e;
    min-height: 100vh; /* vh = viewport height, prend toute la hauteur de la fenêtre */
    display: flex; /* Le flex permet de centrer les éléments enfants */
    align-items: center; /* centre les elements horizontalement */
    flex-direction: column; /* aligne les éléments enfants en colonne */
}

#h1 {
    font-size: 3em;
    font-weight: 700; /* Bold */
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.3); /* text-shadow: [décalage X] [décalage Y] [flou] [couleur]; */
    margin: 2%;
}

#title {
    font-size: 3em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#container {
    width: 80%;
    max-width: 1200px;
    margin: 5% auto;
    padding: 5%;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.mod {
    font-family: 'Courier New', monospace;
    width: 7.5rem;
    height: auto;
    margin: 1%;
    padding: 1%;
    background: transparent;
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, width 0.2s ease, scale 0.2s ease, color 0.2s ease, background-color 0.2s ease;
    font-family: "Luckiest Guy", sans-serif;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
    font-size: 70%;
    color: #b1b1b1;
    position: absolute; 
}

.mod:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.123);
    background-color: rgba(255, 255, 255, 0.1);
    scale: 1.02;
    color: #ffffff;
}

#ajouter {
    top: 2%;
    right: 1%;
}

#modifier {
    top: 2%;
    right: 12%;
}

#supprimer {
    top: 2%;
    right: 23%;
}

#copier {
    top: 2%;
    left: 1%;
}

#importer {
    top: 2%;
    left: 12%;
}

#clic{
    position: absolute;
    cursor: pointer;
    bottom: 1%;
    right: 1%;
    color: #818181;
    text-decoration: none;
    border: 1px solid #3b6d9c52;
    padding: 5px 10px;
    border-radius: 5px;
}

#fait{
    position: absolute;
    cursor: pointer;
    bottom: 1%;
    left: 1%;
    color: #818181;
    text-decoration: none;
    border: 1px solid #3b6d9c52;
    padding: 5px 10px;
    border-radius: 5px;
}